<h3 class="text-center">设备列表</h3>
<hr/>

<div style="padding-buttom: 10px;">
    <%= link_to("新增设备",new_admin_equib_path, class:"btn btn-success pull-right btn-lg")%>
    <!-- <%= link_to("进入数据分析页面",dashboard_admin_equibs_path, class: "btn btn-info pull-right")%> -->
</div>
<br/>
<br/>
<br/>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>图片</th>
            <th>机器名称</th>
            <th>所属部门</th>
            <th>存放位置</th>
            <th>操作选项</th>
        </tr>
    </thead>
    <tbody>
        <% @equibs.each do |equib| %>
        <tr>
            <td><%= equib.id %></td>
            <td>
                <%= link_to admin_equib_path(equib) do %>
                <% if equib.image.present? %>
                <%= image_tag(equib.image.thumb.url, class: "thumbnail")%>
            <% else%>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
                <% end %>
                <% end %>
            </td>
            <td><%= link_to(equib.title,admin_equib_path(equib))%></td>
            <td><%= equib.department %></td>
            <td><%= equib.position %></td>
            <td><%= link_to("修改属性", edit_admin_equib_path(equib),class: "btn btn-info btn-sm")%>
                <%= link_to("删除这个设备", admin_equib_path(equib),method: :delete, data: {confirm:"你确定要删除这个设备吗？删除后无法找回！"},class: "btn btn-danger btn-sm")%>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<div class="group total pull-right">
    <span style="font-size:20px;">资产总额</span>
    <span class="label label-success" style="font-size:150%">
        <%= render_total_price %>
        CNY
    </span>

</div>
<br/>
<hr/>

<div class="download-group">
    <h3>导出到 Excel</h3>
    <span><%= link_to("导出Excel", admin_equibs_path(format: "xls"), class: "btn btn-primary btn-lg")%>
        <!-- <%= link_to("导出CSV", admin_equibs_path(format: "csv"), class: "btn btn-success")%></span> -->
    </div>
