<h2 class="text-center">设备属性<small><%= @equib.title%>(<%= @equib.position%>)</small>
</h2>

<h5>机器名称：<%= @equib.title%></h5>
<h5>机器备注：<%= @equib.description%></h5>
<h5>所属部门：<%= @equib.department%></h5>
<h5>存放位置：<%= @equib.position%></h5>
<h5>机器型号：<%= @equib.model%></h5>
<h5>负责人：<%= @equib.principal%></h5>
<h5>供应商：<%= @equib.supplier%></h5>
<h5>保修期<%= @equib.warranty%></h5>
<h5>产地：<%= @equib.origin%></h5>
<h5>购入日期：<%= @equib.purchase_date%></h5>
<h5>是否为生产设备：<%= @equib.is_for_production%></h5>
<h5>价格：<%= @equib.price%></h5>
<h5>年限<%= @equib.age_limit%></h5>
<h5>使用状态：<%= @equib.use_state%></h5>

<br/>

<span class="text-center">
    <%= link_to("修改属性", edit_admin_equib_path(@equib),class: "btn btn-primary")%>
</span>

<br/>
<hr/>
<%= link_to("添加维修记录",new_equib_repair_path(@equib), class: "btn btn-danger")%>
<h2 class="text-center">维修记录</h2>
<p class="pull-right">
    累计维修金额
    <span class="label label-danger" style="font-size:200%">
        ¥<%= render_total_fees(@equib)%></span>
</p>
<% @repairs.each do |repair| %>
<div class="col-xs-12 well">
    <p>维修原因：<%= repair.cause %></p>
    <h5>维修费用：<%= repair.fees %>
        <% if repair.is_wireman? %>
        <span class="label label-success label-sm">内部维修</span>
    <% else %>
        <span class="label label-danger label-sm">外部维修</span>
        <% end %>
    </h5>
    <p><%= repair.created_at.to_s(:long)%></p>

</div>
<% end %>
